*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    width: 100%;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 60%;
    margin-top: 2rem;
}
h1 {
    text-align: center;
    color: #333;
    margin-bottom: 25px;
}
#taskInput {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
}
.pop-up{
    width: auto;
    height: 2rem;
    display: flex;
    align-items: center;
}
#btn-add-task {
    padding: 10px 15px;
    margin-top: 1rem;
    background-color: #478e47;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
}
#btn-add-task:hover {
    background-color: #396539;
    transition: all 0.3s ease;
}
#taskList {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin-top: 20px;
    width: 100%;
    position: relative;
}
.conteiner-item-list {
    width: 100%;
    background-color: #f9f9f9;
    padding: 10px 15px;
    border-bottom: 1px solid #eee;
    display: flex;
    align-self: center;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    font-size: 1.1em;
    border-radius: 4px;
    margin-bottom: 5px;
    cursor: pointer;
    gap: 1rem;
}

.conteiner-item-list .check-item { 
    order: 1; 
    display: flex;
    flex-direction: row;
    align-items: center;
    width: max-content; 
    gap: 1.5rem;
}
.conteiner-item-list .item-list { 
    order: 2; 
}
.conteiner-item-list .btn-delete {
    order: 3;
}
.conteiner-item-list:last-child {
    border-bottom: none;
}
 .conteiner-item-list.completed {
    text-decoration: line-through;
    color: #227635;
    background-color: #c5ffc6;
    cursor: pointer;
}
.conteiner-item-list .btn-delete {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: #dc3545; 
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.2rem;
    transition: all 0.3s ease;
    width: 2.2rem;
    height: 2.2rem;
}
#taskList .conteiner-item-list .btn-delete:hover {
    transition: all 0.3s ease;
    background-color: #992d38;
}
@media (min-width:360px) and (max-width:768px) {
    .container{
        width: 90%;
    }
    .item-list{
            font-size: 0.8rem;
    }
}